.k_img_blog{
    margin-bottom:20px;
    text-align: center;
    border-radius: 9px;
}

.k_thongtin_blog{
    text-align: right;
}

.pd_blog{
    padding-top: 15px;
}

.border_right_blog{
    padding: 1px 10px 1px 10px;
    border: 1px solid rgb(153, 153, 153);
}

.menu_blog{
    font-size: 20px;
    font-family:verdana;
    margin: 8px 15px 8px 15px;
    border-bottom: 2px solid black;
}

.tieude_blog{
    margin: 5px 0px 5px 0px;
    line-height: 30px;
    height:  100px;
    font-weight: bold;
    font-size: 25px;
    font-family:verdana;
}
.tieude_blog span:hover{
    color:rgb(107, 107, 107);
}

.k_items_blog{
    padding: 10px 5px 15px 5px;
    margin:10px 5px 20px 5px;
    border: 1px solid rgb(255, 255, 255);
}
.k_items_blog img{
    margin-top: 9px;
	transition: all .3s ease;
}
.k_date_blog{
    text-align: right;
}
.k_items_blog img:hover{transform: scale(1.11)}

.k_items_blog:hover{
    border: 1px solid black;
    background:rgb(245, 245, 245);
}

.k_menu_blog img{
    display:block;
	transition: all .3s ease;
}

.k_menu_blog img:hover{transform: scale(1.11)}

.date_blog{
    font-size: 12px;
}


.like_blog{
    font-size: 20px;
}

.content-web .like_blog img{
	transition: all .3s ease;
}

.content-web .like_blog img:hover{transform: scale(1.2)}