.logo_web{
    width:70%;
}

.gio_hang{
    margin:0 0 3px 50px;
    width:27px;
    height:24px;
}

.gio_hang_chitiet{
    margin-top: 3px;
    padding:1px;
    background:#ffffff;
    width:46px;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
}

.gio_hang_ct{
    margin-top: 2px;
    text-align: right;
}


.avt{
    padding:3px;
    background:rgb(255, 255, 255);
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-right:10px;
}

.xe{
    width:33px;
    margin-bottom: 5px;
}

.dongho{
    width:23px;
    padding: 4px 0 4px 0;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 5px;
}

.hotline{
    width:22px;
    padding:2px;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 5px;
}

.kinhlup{
    width:28px
}

.btn-outline-success-cf {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #575757;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #575757;
    --bs-btn-active-border-color: #575757;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #575757;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #575757;
    --bs-gradient: none;
}