.menu_pf{
    height: 100vh;
    min-width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 1s ease;
    overflow-y: hidden;
    padding-top: 25px;
}

.menu h3{
    font-size: 18px;
}

.khung-ct-pf{
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    padding: 10px;
}

.khung-ct-pf-mua{
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    padding: 10px;
}


.pf_item{
    text-decoration: none;
    color: black;
    padding: 2px 20px 2px 20px;
}

.pf_item:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background:#222222;
}

.myprofile{
    font-weight: 28px;
}

.al-right{
    text-align: right;
}

.khung-pf{
    width:2000px;
}

.kmuahang{
    text-align:right;
}

.muahang{
    color: #fff;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    background:#444;
    padding: 7px 14px;
}

.muahang:hover{
    color: #fff;
    background:#222;
}

.khung-ct-pf table tr th, .khung-ct-pf-mua table tr th {
    padding: 5px 50px 5px 0;
}