{% extends "base.html" %}

{%block title %} Liên hệ {% endblock %}

{% load static %}

{% block linkweb %} <i><a href="{% url 'home' %}" class="link-webs"><img src="{% static 'images/icon_home.png' %}" class="icon_home"></a>><a href="{% url 'lienhe' %}" class="link-webs"><u>Liên hệ</u></i></a>> {% endblock linkweb %}

{% block content %}
<br/>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 content_lienhe">
    <div class="k_content_lienhe">
    {% for lienhe in LienHe %}
      {{lienhe.NoiDung|safe|linebreaks}}
    {% endfor %}
    </div>
    <br>
    {% for logo in Base %}
      <center>
          <a class="nav-link" href="/"><img src="{{logo.Logo_weburl}}" class="logo_web"></a>
      </center>
    {% endfor %}
  </div>
</div>
{% endblock %}