<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href = "{% static 'css/change_boostrap.css' %}">
    <link rel="stylesheet" href = "{% static 'css/base.css' %}">
    <link rel="stylesheet" href = "{% static 'css/body.css' %}">
    <link rel="stylesheet" href = "{% static 'js/bootstrap.bundle.min.js' %}">
    <title>{% block title %} {% endblock %}</title>
    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <div class="container-fluid bd">
        <div class="row header_web">
            <div class="col-sm-3">
                <center>
                    <a class="nav-link" href="/"><img src="{% static 'images/logo.png' %}" class="logo_web"></a>
                    <h1 class="title_web">Web đồ nội thất</h1>
                </center>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6 dn-dk">
                        Thanh tìm kiếm
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <a class="nav-link dn-dk" href="/">Đăng nhập</a>
                        <a class="nav-link dn-dk" href="/">Đăng kí</a>
                    </div>
                    <div class="col-sm-1 khung_gio">
                        <br><br>
                        <img src="{% static 'images/gio_hang.png' %}" class="gio_hang">
                    </div>
                </div>
                <br>
                <br>
                <div class="row thongtin">
                    <div class="col-sm-2"> Miễn phí giao hàng</div>
                    <div class="col-sm-2"> Hoạt động: <i>24/7</i></div>
                    <div class="col-sm-2"> Hotline: <i>0941436774</i></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <ul class="nav main_hover" id="main-menu">

                    <style>
                        .main_hover#main-menu .hover_menu_web{
                            display: none;
                        }
                        .main_hover#main-menu li:hover .hover_menu_web{
                            display: block;
                        }
                    </style>

                    <li class="col-sm-2">
                        <a class="nav-link pages_web" href="/">Trang Chủ <i class="mui_ten down"></i></a>
                        <div>
                            <ul class="hover_menu_web">
                                <a class="nav-link item-menu" href="{% url 'ban' %}">Bàn</a>
                                <a class="nav-link item-menu" href="#">Bộ bàn ăn</a>
                                <a class="nav-link item-menu" href="#">Giường</a>
                                <a class="nav-link item-menu" href="#">Ghế</a>
                                <a class="nav-link item-menu" href="#">Tủ kệ</a>
                                <a class="nav-link item-menu" href="#">Sofa</a>
                                <a class="nav-link item-menu" href="#">Đồ trang trí</a>
                                <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp</a>

                            </ul>
                        </div>
                    </li>

                    <li class="col-sm-3 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'tuvannoithat' %}">Tư vấn nội thất <i class="mui_ten down"></i></a>
                        <ul class="hover_menu_web">
                            <a class="nav-link item-menu" href="{% url 'ban' %}">Bàn</a>
                            <a class="nav-link item-menu" href="#">Bộ bàn ăn</a>
                            <a class="nav-link item-menu" href="#">Giường</a>
                            <a class="nav-link item-menu" href="#">Ghế</a>
                            <a class="nav-link item-menu" href="#">Tủ kệ</a>
                            <a class="nav-link item-menu" href="#">Sofa</a>
                            <a class="nav-link item-menu" href="#">Đồ trang trí</a>
                            <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp</a>
                        </ul>
                    </li>

                    <li class="col-sm-2 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'dichvu' %}">Dịch vụ <i class="mui_ten down"></i></a>
                        <ul class="hover_menu_web">
                            <a class="nav-link item-menu" href="{% url 'ban' %}">Bàn</a>
                            <a class="nav-link item-menu" href="#">Bộ bàn ăn</a>
                            <a class="nav-link item-menu" href="#">Giường</a>
                            <a class="nav-link item-menu" href="#">Ghế</a>
                            <a class="nav-link item-menu" href="#">Tủ kệ</a>
                            <a class="nav-link item-menu" href="#">Sofa</a>
                            <a class="nav-link item-menu" href="#">Đồ trang trí</a>
                            <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp</a>
                        </ul>
                    </li>

                    <li class="col-sm-3 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'blog' %}">Góc cảm hứng <i class="mui_ten down"></i></a>
                        <ul class="hover_menu_web">
                            <a class="nav-link item-menu" href="{% url 'ban' %}">Bàn</a>
                            <a class="nav-link item-menu" href="#">Bộ bàn ăn</a>
                            <a class="nav-link item-menu" href="#">Giường</a>
                            <a class="nav-link item-menu" href="#">Ghế</a>
                            <a class="nav-link item-menu" href="#">Tủ kệ</a>
                            <a class="nav-link item-menu" href="#">Sofa</a>
                            <a class="nav-link item-menu" href="#">Đồ trang trí</a>
                            <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp</a>
                        </ul>
                    </li>

                    <li class="col-sm-2 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'contact' %}">Liên hệ <i class="mui_ten down"></i></a>
                        <ul class="hover_menu_web">
                            <a class="nav-link item-menu" href="{% url 'ban' %}">Bàn</a>
                            <a class="nav-link item-menu" href="#">Bộ bàn ăn</a>
                            <a class="nav-link item-menu" href="#">Giường</a>
                            <a class="nav-link item-menu" href="#">Ghế</a>
                            <a class="nav-link item-menu" href="#">Tủ kệ</a>
                            <a class="nav-link item-menu" href="#">Sofa</a>
                            <a class="nav-link item-menu" href="#">Đồ trang trí</a>
                            <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 menu">
                {% block sidebar %}
                        
                {% endblock %}
            </div>
            <div class="col-sm-6 content-web">
                {% block content %}
                        
                {% endblock %}
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid ft">
            <a href="https://www.facebook.com/phat.le0109/">Facebook</a> | 
            <a href="#">Zalo</a> |
            <a href="#">Instagram</a>
        </div>
    </footer>

    
</body>
</html>