{% extends "pages/base.html" %}

{%block title %} Home {% endblock %}

{% load static %}

{% block sidebar %}
<div>
    <div class="link-webs">
        <i><u>Liên hệ</u></i>>
    </div>
    <div class="border_right container-fluid">
        <div class="menu-nav">
            <a class="nav-link item-menu" href="#">Về chúng tôi <i class="mui_ten right"></i></a>
            <a class="nav-link item-menu" href="#">Địa chỉ <i class="mui_ten right"></i></a>
        </div>
    </div>
</div>        
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <p>Hotline: 0931436774</p>
        <p>Email: daiphatle123@gmail.com</p>
     </div>
</div>
{% endblock %}