{% extends "pages/base.html" %}

{%block title %} Home {% endblock %}


{% load static %}

{% block sidebar %}
<div>
    <div class="link-webs">
        <i><u>Liên hệ</u></i> >
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="bs-slidebar menu-nav">
                <a class="nav-link item-menu" href="#">Về chúng tôi</a>
                <a class="nav-link item-menu" href="#">Địa chỉ</a>
            </div>
        </div>
    </div>
</div>        
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="under-menu col-sm-5"></div>
        </div>
    </div>
</div>

 <div class="row">
    <div class="col-sm-6">
        <p>Hotline: 0931436774</p>
        <p>Email: daiphatle123@gmail.com</p>
    </div>
 </div>
{% endblock %}