{% extends "pages/base.html" %}

{% load static %}
<link rel="stylesheet" href = "{% static 'css/home.css' %}">

{%block title %} Home {% endblock %}

{% block slideweb %}
<div id="carousel-Header" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-Header" data-slide-to="0" class="active"></li>      
        <li data-target="#carousel-Header" data-slide-to="1"></li>
        <li data-target="#carousel-Header" data-slide-to="2"></li>
        <li data-target="#carousel-Header" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner"><!--img 1200x630-->
        <div class="item active">
            <img src="{% static 'images/slide1.jpg' %}" alt="..." class="carousel-img">
        </div>
        <div class="item">        
            <img src="{% static 'images/slide2.jpg' %}" alt="..." class="carousel-img">        
        </div>        
    </div> 
    <!-- Left Right Controls -->
    <a class="left carousel-control" href="#carousel-Header" role="button" data-slide="prev">        
        <span class="glyphicon glyphicon-chevron-left"></span>        
    </a>
    <a class="right carousel-control" href="#carousel-Header" role="button" data-slide="next">        
        <span class="glyphicon glyphicon-chevron-right"></span>        
    </a>
</div>

{% endblock %}

{% block content %}

{% endblock %}