{% extends "pages/base.html" %}

{%block title %} Home {% endblock %}

{% load static %}

{% block sidebar %}
<div>
    <div class="link-webs">
        <a href="/" class="link-webs"><i><u>Trang chủ</u></i></a>>
    </div>
    <div class="row hover-menu container-fluid">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="bs-slidebar menu-nav">
                <a class="nav-link item-menu" href="{% url 'ban' %}">Bàn <i class="mui_ten right"></i></a>
                <a class="nav-link item-menu" href="#">Bộ bàn ăn <i class="mui_ten right"></i></a>
                <a class="nav-link item-menu" href="#">Giường <i class="mui_ten right"></i></a>
                <a class="nav-link item-menu" href="#">Ghế <i class="mui_ten right"></i></a>
                <a class="nav-link item-menu" href="#">Tủ kệ <i class="mui_ten right"></i></a>
                <a class="nav-link item-menu" href="#">Sofa <i class="mui_ten right"></i></a>
                <a class="nav-link item-menu" href="#">Đồ trang trí <i class="mui_ten right"></i></a>
                <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp <i class="mui_ten right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block content %}
<div class="container-fluid">

</div>
<!--<div>
    <img src="{% static 'images/slide1.jpg' %}" class="d-block carousel-img" alt="..."> 
</div>-->
{% endblock %}