{% extends "pages/base.html" %}

{%block title %} Home {% endblock %}

{% load static %}

{% block sidebar %}
<div>
    <div>
        <a href="/" class="link-webs"><i><u>Trang chủ</u></i></a>>
    </div>
    <div class="border_right menu-nav">
      <a class="nav-link item-menu" href="#">Bàn <i class="mui_ten right"></i></a>
      <a class="nav-link item-menu" href="#">Bộ bàn ăn <i class="mui_ten right"></i></a>
      <a class="nav-link item-menu" href="#">Giường <i class="mui_ten right"></i></a>
      <a class="nav-link item-menu" href="#">Ghế <i class="mui_ten right"></i></a>
      <a class="nav-link item-menu" href="#">Tủ kệ <i class="mui_ten right"></i></a>
      <a class="nav-link item-menu" href="#">Sofa <i class="mui_ten right"></i></a>
      <a class="nav-link item-menu" href="#">Đồ trang trí <i class="mui_ten right"></i></a>
      <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp <i class="mui_ten right"></i></a>
    </div>
</div>
{% endblock %}



{% block content %}
<div class="container-fluid">

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/slide3.jpg' %}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/slide4.jpg' %}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/slide5.jpg' %}" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}