<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% for key, value in form.errors.items %}
            {{value}}
        {% endfor %}
        <p><lavel>Tài khoản :</lavel>{{form.username}}</p>
        <p><lavel>Mật khẩu :</lavel>{{form.password}}</p>
        <input type="hidden" name='next' value="/"/>
        <input type="submit" value="Đăng nhâp"/>
    </form>
</body>
</html>