.logo_web{
    width:70%;
}

.gio_hang{
    margin-top: 3px;
    padding:1px;
    background:#ffffff;
    width:35px;
    height:27px;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
}

.gio_hang_chitiet{
    margin-top: 3px;
    padding:1px;
    background:#ffffff;
    width:46px;
    height:33px;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
}

.gio_hang_ct{
    margin-top: 2px;
    text-align: right;
}


.avt{
    padding:3px;
    background:rgb(255, 255, 255);
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-right:10px;
}

.xe{
    width:33px;
    margin-bottom: 5px;
}

.dongho{
    width:23px;
    padding: 4px 0 4px 0;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 5px;
}

.hotline{
    width:22px;
    padding:2px;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 5px;
}