{% extends "pages/base.html" %}

{%block title %} Blog {% endblock %}

{% load static %}



{% block sidebar %}
<div>
    <div class="link-webs">
        <i><u>Góc cảm hứng></u></i>
    </div>
    <div class="row container-fluid">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="bs-slidebar menu-nav">
                <a class="nav-link" href="#">Phong cách indochine</a>
                <a class="nav-link" href="#">Bí ẩn wabi sabi</a>
                <a class="nav-link" href="#">Sức hấp dẫn phong cách loft</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block content %}
<div class="container-fluid">
    
    {% for post in Post %}
    <h4>{{post.date|date:"d-m-Y"}} <a href="/blog/{{post.id}}">{{post.title}}</a></h4>

    <img src="{{post.images.url}}" width="500px" height="300px"/>
    {% endfor %}

</div>
{% endblock %}