<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href = "{% static 'css/change_boostrap.css' %}">
    <link rel="stylesheet" href = "{% static 'css/base.css' %}">
    <link rel="stylesheet" href = "{% static 'css/tuvannoithat.css' %}">
    <link rel="stylesheet" href = "{% static 'css/lienhe.css' %}">
    <link rel="stylesheet" href = "{% static 'css/blog.css' %}">
    <link rel="stylesheet" href = "{% static 'css/sanpham.css' %}">
    <link rel="stylesheet" href = "{% static 'css/home.css' %}">
    <link rel="stylesheet" href = "{% static 'css/icon.css' %}">
    <link rel="stylesheet" href = "{% static 'css/profile.css' %}">
    <link rel="stylesheet" href = "{% static 'css/forms.css' %}">
    <link rel="stylesheet" href = "{% static 'css/body.css' %}">
    <title>{% block title %} {% endblock %}</title>
    
</head>
<body>
    <script type="text/javascript">
        var user ='{{request.user}}'
        
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    
    <div class="container-fluid bd">
        <div class="row header_web">
            <div class="col-sm-3">
                {% for logo in Base %}
                    <center>
                        <a class="nav-link" href="/"><img src="{{logo.Logo_weburl}}" class="logo_web"></a>
                    </center>
                {% endfor %}
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4 dk-dn-mg">
                        <form class="d-flex" role="search" method = POST action = "{% url 'search' %}">
                            <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name="searched">
                            {% csrf_token %}
                            <button class="btn btn-outline-success-cf" type="submit"><img src="{% static 'images/kinhlup.png' %}" class="kinhlup"></button>
                        </form>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 dk-dn-mg">
                        {% if user.username %}
                        <ul class="nav pf_hover" id="pf">    
                            <div class="pf-dk">
                                <a class="dn-dk" href="{% url 'hoso' %}"><img src="{% static 'images/avt.png' %}" class="avt"> {{user.username}}</a> 
                                <ul class="hover_dx">
                                    <a class="nav-link dx" href="{% url 'hoso' %}">Trang cá nhân</a>
                                    <a class="nav-link dx" href="{% url 'logout' %}">Đăng xuất</a>
                                </ul>
                            </div>
                            <a href="{% url 'giohang' %}" class="unline_none"> 
                                <img src="{% static 'images/giohang.png' %}" class="gio_hang_home"> 
                                <sup class="sl_sp_giohang">{{TongSPTrongGio}}</sup> 
                            </a>
                        </ul>
                        {% else %}
                            <a class="dn-dk" href="{% url 'login' %}">Đăng nhập</a> | <a class="dn-dk" href="{% url 'register' %}">Đăng kí</a>
                        {% endif %}
                    </div>
                </div>
                <br><br>
                <div class="row thongtin">
                    <div class="col-sm-3">
                        <img src="{% static 'images/xe.png' %}" class="xe">
                        Miễn phí giao hàng
                    </div>
                    <div class="col-sm-2"> 
                        <img src="{% static 'images/dongho.png' %}" class="dongho">
                        Hoạt động: <i>24/7</i>
                    </div>
                    <div class="col-sm-3"> 
                        <img src="{% static 'images/hotline.png' %}" class="hotline">
                        Hotline: 
                        <i>
                            {% for sdt in Base %}
                                {{sdt.SDT}}
                            {% endfor %}
                        </i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 main">
                <ul class="nav main_hover"  id="main-menu">
                    <li class="col-sm-2">
                        <a class="nav-link pages_web" href="/"> Trang chủ<i class="mui_ten down"></i></a>
                    </li>

                    <li class="col-sm-3 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'listsp' %}">Sản phẩm <i class="mui_ten down"></i></a>
                        <ul class="hover_menu_web">
                            {% for i in DanhMucSP %}
                                <a class="nav-link item-menu" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}</a>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="col-sm-2 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'tuvannoithat' %}">Tư vấn nội thất<i class="mui_ten down"></i></a>
                    </li>

                    <li class="col-sm-3 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'blog' %}">Góc cảm hứng <i class="mui_ten down"></i></a>
                        <ul class="hover_menu_web">
                            {% for blog in Top5Blog %}
                                <a class="nav-link item-menu" href="/blog/{{blog.id}}"> {{blog.TieuDe}} </a>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="col-sm-2 bg_pages_web">
                        <a class="nav-link pages_web" href="{% url 'lienhe' %}">Liên hệ <i class="mui_ten down"></i></a>
                    </li>
                </ul>
            </div>
        </div>
      
        <div class="container-fluid">
            {% block linkweb %} {% endblock linkweb %}
            {% block content %} {% endblock %}
        </div>
    </div>


    <footer>
        <div class="container-fluid ft">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 ct_h2_ft">
                    {% for logo in Base %}
                        <h2><a class="nav-link" href="/"><img src="{{logo.Logo_weburl}}" class="logo_web_ft"></a></h2>
                    {% endfor %}
                    <h3><a class="h3_ft" href="{% url 'listsp' %}">Sản phẩm</a></h3>
                    <h3><a class="h3_ft" href="{% url 'tuvannoithat' %}">Tư vấn nội thất</a></h3>
                    <h3><a class="h3_ft" href="{% url 'blog' %}">Góc cảm hứng</a></h3>
                    <h3><a class="h3_ft" href="{% url 'lienhe' %}">Liên hệ</a></h3>
                </div>
                <div class="col-sm-2 ct_h2_ft">
                    <h2><a class="h2_ft" href="#">Hỗ trợ khách hàng</a></h2>
                    {% for hotro in Base %}
                        <h3><a class="h3_ft" href="#">{{hotro.HoTroKhachHang|safe|linebreaks}}</a></h3>
                    {% endfor %}
                </div>
                <div class="col-sm-2 ct_h2_ft">
                    <h2><a class="h2_ft" href="#">Liên hệ chúng tôi</a></h2>
                    {% for lienhe in Base %}
                        <h3><a class="h3_ft" href="#">{{lienhe.LienHeChungToi|safe|linebreaks}}</a></h3>
                    {% endfor %}
                </div>
                <div class="col-sm-2 ct_h2_ft">
                    <hr>
                    {% for khac in Base %}
                        <h3><a class="h3_ft" href="#">{{khac.DiaChi_Khac|safe|linebreaks}}</a></h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/app_web.js' %}"> </script>
    
</body>
</html>