{% extends "base.html" %}

{%block title %} Trang cá nhân {% endblock %}

{% load static %}

{% block content %}
<div class="row bg_pf">
  <div class="col-sm-1"></div>
  <div class="col-sm-2 menu">
    <div class="myprofile">
      <img src="{% static 'images/avt.png' %}" class="avt"> 
      {{user.username}}
    </div>
    <hr>
    <nav>
        <h3><a href="#hoso" class="pf_item">Hồ sơ</a></h3>
        <h3><a href="#giohang" class="pf_item">Giỏ hàng</a></h3>
        <h3><a href="#donhang" class="pf_item">Đơn hàng</a></h3>
        <h3><a href="#sodu" class="pf_item">Số dư</a></h3>
        <h3><a href="#doimatkhau" class="pf_item">Đổi mật khẩu</a></h3>
    </nav>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <section id="hoso" class="khung-ct-pf"> 
      <h4>Hồ sơ</h4>
      <table>
        <tr class="khung-pf">
          <th>Tên</th>
          <th class="al-right">{{user.username}}</th>
        </tr>
        <tr>
          <th class="khung-pf">Email</th>
          <th class="al-right">{{user.email}}</th>
        </tr>
      </table>
    </section>

    <section id="giohang" class="khung-ct-pf">
      <table>
        <h4>Giỏ hàng</h4>
      </table>
    </section>

    <section id="donhang" class="khung-ct-pf">
      <h4>Đơn hàng</h4>
    </section>

    <section id="sodu" class="khung-ct-pf">
      <h4>Số dư</h4>
    </section>

    <section id="doimatkhau" class="khung-ct-pf">
      <h4>Đổi mật khẩu</h4>
    </section>
  </div>
</div>
{% endblock %}