{% extends "base.html" %}

{%block title %} Góc cảm hứng {% endblock %}

{% load static %}

{% block linkweb %} <a href="/" class="link-webs"><i><u>Góc cảm hứng</u></i></a>> {% endblock linkweb %}

{% block content %}
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2 menu">
    <div class="menu-nav border_right_blog pd_blog">
      <div class="menu_blog">BÀI VIẾT MỚI NHẤT</div>
      {% for i in Blog %}
      <div class="row">
        <div class="col-sm-5">
          <img src="{{i.image.url}}" class="k_img_blog col-sm-12"/>
        </div>
        <div class="col-sm-7">
          <a class="nav-link item-menu" href="#"> {{i.TieuDe}} <i class="mui_ten right"></i></a>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
  <div class="col-sm-6 content-web">
    
    {% for i in Blog %}
      <div class="k_img_blog">
        <img src="{{i.image.url}}" class="col-sm-7"/>
        <h3>{{i.TieuDe}}</h3>
      </div>
      <div class="k_thongtin_blog">
        <span class="col-sm-3">{{i.NgayDang}}</span>
        <span>{{i.LuotLike}}</span>
      </div>
      <hr/>
    {% endfor %}
  </div>
</div>
{% endblock %}