{% extends "base.html" %}

{%block title %} {{sanpham.TenSP}} {% endblock %}

{% load static %}

{% block linkweb %} <i><a href="{% url 'home' %}" class="link-webs"><img src="{% static 'images/icon_home.png' %}" class="icon_home"></a>><u><a href="{% url 'listsp' %}" class="link-webs">Sản phẩm</a></u> > <u class="link-webs">chi tiết sản phẩm</u></i> {% endblock linkweb %}

{% block content %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 menu">
        <div class="border_right menu-nav">
            {% for i in DanhMucSP %}
            <a class="nav-link item-menu" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}<i class="mui_ten right"></i></a>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-1 icon_back"><a href="{% url 'listsp' %}"> <img src="{% static 'images/back.png' %}" class="back"></a></div>
    <div class="col-sm-4 pd_ct">
        <img src="{{sanpham.imageurl}}" class="col-sm-12"/>
        <div class="row">
            <div class="col-sm-8">
                <div class="ten_spct">{{sanpham.TenSP}}</div>
            </div>

            <div class="col-sm-4 al-right dg_lm">Đánh giá: {{sanpham.DanhGia}} | Đã bán: {{sanpham.LuotMua}}</div>

            <div class="col-sm-6 gia_ct">{{sanpham.GiaSP}}<sup>đ</sup></div>

            <div class="col-sm-2">
            </div>

            <div class="col-sm-4 gio_hang_ct">
                <button data-user={{user}} data-sanpham={{sanpham.id}} data-action ="add" onclick="ThongBaoDaThemVaoGioHang('{{user}}')" class="gio_hang_chitiet update_giohang">
                    Thêm vào giỏ hàng
                    <img src="{% static 'images/giohang_chitiet.png' %}" style="width: 30px">
                </button>
            </div>
            <hr>

            <div>
                <h5>Mô tả sản phẩm:</h5>
                {{sanpham.MoTa|linebreaks}}
            </div>

            <br/><br/>
            <hr>
        </div>
        {% for comment in sanpham.comments.all %}
            {% if comment.check == True %}
                <img src="{% static 'images/avt.png' %}" class="avt_cm"><b>{{comment.author}}</b>
                <p>{{comment.body|linebreaks}}</p>
                <p class="date-cm">{{comment.date}}</p>
            {% endif %}
        {% endfor %}
        
        {% if user.username %}
            <form action="{% url 'sanpham' sanpham.id %}" method='POST'>
                {% csrf_token %}
                <p><label>Bình luận: </label></p>
                {{form.body}}
                <br/>
                <div class="bl"><input type="submit" value="Bình luận" onclick="ThongBaoDaBinhLuan()"/></div>
            </form>
        {% endif %}

        <br/>
    </div>
    <div class="col-sm-2">
        <p><img src="{{sanpham.imageurl1}}" class="col-sm-12" /></p>
        <p><img src="{{sanpham.imageurl2}}" class="col-sm-12" /></p>
    </div>
</div>
{% endblock %}