{% extends "pages/sanpham/sanpham.html" %}

{%block title %} Sản phẩm {% endblock %}

{% load static %}

{% block linkweb %} <i><a href="{% url 'home' %}" class="link-webs"><img src="{% static 'images/icon_home.png' %}" class="icon_home"></a>><a href="{% url 'listsp' %}" class="link-webs"><u>Sản phẩm</u></i></a>> {% endblock linkweb %}

{% block listsp %} 
<div class="row">
    {% for sanpham in listsp %}
        <div class="col-sm-4 item-sp">
            <a href="sanpham/{{sanpham.id}}" class="image_sp"><div><img src="{{sanpham.imageurl}}"/></div></a>          
            <div class="row">
                <div class="col-sm-9">
                    <a href="sanpham/{{sanpham.id}}" class="ten_sp">{{sanpham.TenSP}}</a>
                </div>
                <div class="col-sm-3 ban-danh_gia al-right">
                    Đã bán: {{sanpham.LuotMua}} 
                    <br> 
                    Đánh giá: {{sanpham.DanhGia}}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8 Gia">
                    {{sanpham.GiaSP}}<sup>đ</sup>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
