{% extends "base.html" %}

{%block title %} Sản phẩm {% endblock %}

{% load static %}

{% block linkweb %} <i><a href="{% url 'home' %}" class="link-webs"><img src="{% static 'images/icon_home.png' %}" class="icon_home"></a>><a href="{% url 'listsp' %}" class="link-webs"><u>Sản phẩm</u></i></a>> {% endblock linkweb %}

{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 menu">
            <div class="border_right menu-nav">
                <div class="menu_blog">DANH MỤC SẢN PHẨM</div>
                {% for i in DanhMucSP %}
                <a class="nav-link item-menu" href="{% url 'category' %}?category={{i.slug}}">{{i.name}}<i class="mui_ten right"></i></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6 content-web">
                {% block sanpham %} {% endblock sanpham %}
                {% block listsp %} {% endblock listsp %}
        </div>
    </div>
{% endblock %}