{% extends "pages/sanpham/sanpham.html" %}


{% load static %}

{% block linksp %} <i><a href="{% url 'sanpham' %}" class="link-webs"><u>Sản phẩm</u></a>><u class="link-webs">tủ kệ</u></i> {% endblock linksp %}

{% block tiltle_sp5 %} <h3 id="tuke" class="title_Loai_sp">Tủ kệ</h3> {% endblock %}

{% block loaisp5 %} 
    <div class="col-sm-4 item-sp">
        <a href="{{sanpham.id}}" class="image_sp"><div><img src="{{sanpham.image.url}}"/></div></a>          
        <div class="row">
            <div class="col-sm-9">
                <a href="{{sanpham.id}}" class="ten_sp">{{sanpham.TenSP}}</a>
            </div>
            <div class="col-sm-3 al-right">
                <img src="{% static 'images/giohang_chitiet.png' %}" class="gio_hang">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 Gia">{{sanpham.GiaSP}}<sup>đ</sup></div>
            <div class="col-sm-4 ban-danh_gia al-right">Đã bán: {{sanpham.LuotMua}} <br> Đánh giá: {{sanpham.DanhGia}}</div>
        </div>
    </div>
{% endblock loaisp5 %}


