{% extends "pages/profile/profile.html" %}

{% load static %}

{%block title %} Đơn hàng {% endblock %}

{% block linkweb %} <i><a href="{% url 'home' %}" class="link-webs"><img src="{% static 'images/icon_home.png' %}" class="icon_home"></a>><a href="/" class="link-webs"><u>Đơn hàng</u></i></a>> {% endblock linkweb %}

{% block donhang %}
<br/>
<div class="khung-ct-pf"> 
    <h4>Đơn hàng</h4>
    <ul>
      {% for item in items %}
        <li>
          {{item.TenSP}}
        </li>
      {% endfor %}
    </ul>
    
</div>


{% endblock donhang %}