{% extends "pages/profile/profile.html" %}

{%block title %} Đơn hàng {% endblock %}

{% block linkweb %} <a href="/" class="link-webs"><i><u>Đơn hàng</u></i></a>> {% endblock linkweb %}

{% block donhang %}
<br/>
<div class="khung-ct-pf"> 
    <h4>Đơn hàng</h4>
    <table>
      <tr class="khung-pf">
        <th></th>
        <th class="al-right"></th>
      </tr>
      <tr>
        <th class="khung-pf"></th>
        <th class="al-right"></th>
      </tr>
    </table>
</div>


{% endblock donhang %}