{% extends "pages/profile/profile.html" %}

{% load static %}

{%block title %} Giỏ hàng {% endblock %}

{% block linkweb %} <a href="/" class="link-webs"><i><u>Giỏ hàng</u></i></a>> {% endblock linkweb %}

{% block hoso %}
<br/>
<div class="khung-ct-pf"> 
    <h4>Giỏ hàng</h4>
    <hr/>
    <table>
      <tr>
        <th>Tên sản phẩm</th>
        <th>Ảnh</th>
        <th>Số lượng</th>
        <th>Giá</th>
      </tr>
      {% for item in SanPhamTrongGio %}
        <tr>
          <th>{{item.sp.TenSP}}</th>
          <th><img src="{{item.sp.imageurl}}" style="width:100px; height: 50px"></th>
          <th>
            <img src="{% static 'images/-.png' %}" data-sanpham={{item.sp.id}} data-action = 'remove' class="update_giohang change_sl1">
            {{item.soluong}}
            <img src="{% static 'images/+.png' %}" data-sanpham={{item.sp.id}} data-action = 'add' class="update_giohang change_sl2">
          <th>{{item.sp.GiaSP}}</th>
        </tr>
      {% endfor %}
    </table>
    <hr>
    <div class="kmuahang">
      <b>Tổng tiền sản phẩm: <b>{{TongTienSPTrongGio.get_money}}<sup>đ</sup>
      <a href="{% url 'muahang' %}" class="muahang">Mua hàng</a></div>
</div>


{% endblock hoso %}