{% extends "base.html" %}

{% load static %}

{%block title %} Mua hàng {% endblock %}

{% block linkweb %} <a href="/" class="link-webs"><i><u>Mua hàng</u></i></a>> {% endblock linkweb %}

{% block content %}
<br/>
<div class="row"> 
    <div class="col-sm-3"></div>
    <div class="col-sm-1 icon_back"><a href="{% url 'giohang' %}"> <img src="{% static 'images/back.png' %}" class="back"></a></div>

    <div class="khung-ct-pf-mua col-sm-4">
            <h4>Giỏ hàng</h4>
            <hr/>
            <table>
              <tr>
                <th>Tên sản phẩm</th>
                <th>Ảnh</th>
                <th>Số lượng</th>
                <th>Giá</th>
              </tr>
              {% for item in SanPhamTrongGio %}
              <tr>
                <th>
                    {{item.sp.TenSP}}
                </th>
                <th>
                  <img src="{{item.sp.imageurl}}" style="width:100px; height: 50px">
                </th>
                <th>{{item.soluong}}</th>
                <th>{{item.sp.GiaSP}}</th>
              </tr>
              {% endfor %}
            </table>
            <hr>

            <p>Thông tin mua hàng:</p>
            <hr>
            <div class="form-field">
                <input class="form-control" type="text" name="Địa chỉ" placeholder="Địa chỉ..">
            </div>
            <br/>
            <div class="form-field">
                <input class="form-control" type="text" name="Số điện thoại" placeholder=" Số điện thoại..">
            </div>
            <br/>
            
            <div class="kmuahang">
                <b>Tổng tiền sản phẩm: <b> {{TongTienSPTrongGio.get_money}}<sup>đ</sup>
                <a href="{% url 'donhangdamua' DonHang_id=order.id%}" class="muahang">Xác nhận</a></div>
            </div>
    </div>
</div>




{% endblock content %}