{% extends "pages/base.html" %}

{%block title %} Sản phẩm {% endblock %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2 menu">
        <div>
            <a href="{% url 'sanpham' %}" class="link-webs"><i><u>Sản phẩm</u></i></a>>
        </div>
        <div class="border_right menu-nav">
          <a class="nav-link item-menu" href="#">Bàn <i class="mui_ten right"></i></a>
          <a class="nav-link item-menu" href="#">Bộ bàn ăn <i class="mui_ten right"></i></a>
          <a class="nav-link item-menu" href="#">Giường <i class="mui_ten right"></i></a>
          <a class="nav-link item-menu" href="#">Ghế <i class="mui_ten right"></i></a>
          <a class="nav-link item-menu" href="#">Tủ kệ <i class="mui_ten right"></i></a>
          <a class="nav-link item-menu" href="#">Sofa <i class="mui_ten right"></i></a>
          <a class="nav-link item-menu" href="#">Đồ trang trí <i class="mui_ten right"></i></a>
          <a class="nav-link item-menu" href="#">Đồ dùng nhà bếp <i class="mui_ten right"></i></a>
        </div>
    </div>
    <div class="col-sm-6 content-web">
            
        <div class="row">           
            {% for sanpham in SanPham %}
                <div class="col-sm-4 item-sp">
                    <a href="{{sanpham.id}}">
                        <div class="image_sp"><div><img src="{{sanpham.image.url}}" class="col-sm-12"/></div></div>          
                        <div class="row">
                            <div class="col-sm-9">
                                <a class="ten_sp">{{sanpham.TenSP}}</a>
                            </div>
                            <div class="col-sm-3 al-right">
                                <img src="{% static 'images/pf.png' %}" class="avt">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 Gia">{{sanpham.GiaSP}}<sup>đ</sup></div>
                            <div class="col-sm-4 ban-danh_gia al-right">Đã bán: {{sanpham.LuotMua}} <br> Đánh giá: {{sanpham.DanhGia}}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}