{% extends "pages/base.html" %}

{% load static %}

{% block sidebar %}
<div>
    <div class="link-webs">
        <i><u>Tư vấn nội thất</u></i> >
    </div>
    <div class="border_right container-fluid">
        <div class="menu-nav">
            <a class="nav-link item-menu" href="#">Nhà bếp <i class="mui_ten right"></i></a>
            <a class="nav-link item-menu" href="#">Phòng khách <i class="mui_ten right"></i></a>
            <a class="nav-link item-menu" href="#">Phòng ngủ <i class="mui_ten right"></i></a>
            <a class="nav-link item-menu" href="#">Phòng tắm <i class="mui_ten right"></i></a>
        </div>
    </div>
</div>       
{% endblock %}


{% block content %}

<div class="container-fluid">
</div>

{% endblock %}