{% extends "base.html" %}

{%block title %} Liên hệ {% endblock %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 menu">
            <div>
                <a href="{% url 'lienhe' %}" class="link-webs"><i><u>Liên hệ</u></i></a>>
            </div>
            <div class="border_right menu-nav">
                <a class="nav-link item-menu" href="#"> Liên hệ <i class="mui_ten right"></i></a>
            </div>
        </div>
    </div>

{% endblock %}