/* header */
.title_web{
    color: #f8f8f8;
    font-weight:bold;
    font-size: 28px;
    font-family:courier;
    margin-top: 20px;
}

.logo_web{
    width:255px;
    height:100px;
}

.header_web{
    background:#222222;
    padding: 15px;
}

.gio_hang{
    background:#222222;
    width:30px;
    height:30px;
    margin: 5px;
    border-radius: 25%;
}

.khung_gio{
    text-align: center;
}

.dn-dk{
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    font-family:verdana;
    color: #f1f1f1;
}
.dn-dk:hover{
    color: rgb(255, 255, 255);
    background-color: #575757;
}

.thongtin{
    font-weight:bold;
    text-align: center;
    font-family:verdana;
    color: #c4c4c4;
}










/* nav */

.pages_web{
    text-align: center;
    font-family:verdana;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    background:#ffffff;
}
.pages_web:hover{
    color: rgb(255, 255, 255);
    background-color: #222222;
}

/* khung hover menu của web */
.hover_menu_web{
    position: absolute;
    margin-left: 1%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: -2px 1px 2px rgb(51, 51, 51);
    padding:0px; 
    color: #000000; 
    background:#ffffff;
    z-index: 2000;
}


/* tạo mũi tên bên đề mục */
.mui_ten{
    border: 3px solid transparent;
    border-top: 3px solid;
    border-right: 3px solid;
    display: inline-block;
}
.down{
    margin:5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right{
    margin: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.item-menu{
    line-height: 1.6;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    right: 0;
    left: auto;
    transition: .8s;/*hiệu ứng hover chạy nhanh chậm*/
    padding: 7px 2px 6px 2px;
}
.item-menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: .25s;/*hiệu ứng hover đen chỗ này*/
    z-index: -1;
}
.item-menu:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}
.item-menu:hover{
    color: whitesmoke;
    padding-left: 20px;
    background: black;
}


.menu-nav{
    padding:10px; 
    color: #000000;
    margin-top: 20px; 
    font-size: 18px;
    font-family:verdana;
    font-weight: bold;
}


/* đường dẫn link */
.link-webs{
    margin:5px;
    font-size: 14px;
    color: black;
}


.menu{
    height: 100vh;
    min-width: 100px;
    position: sticky;/*chưa tối ưu hóa cho trình duyệt Internet Explorer*/
    position: -webkit-sticky;/*tối ưu hóa safari*/
    top: 0;
    z-index: 1000;
    transition: background-color 1s ease;
    overflow-y: hidden;/*hidden phần menu background thừa*/
    margin-left: 100px;
}


.border_right{
    border-right: 2px solid black;
}


/* content */

.content-web{
    padding: 30px 10px 40px 30px;
}










/* foooter */

