.link-webs{
    margin: 20px;
}
.carousel-img{
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}
