.menu_pf{
    height: 100vh;
    min-width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 1s ease;
    overflow-y: hidden;
    padding-top: 25px;
}

.menu_pf h3{
    font-size: 18px;
}

#hoso{
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    padding: 10px;
}

.pf_item{
    text-decoration: none;
    color: black;
    padding: 2px 20px 2px 20px;
}

.pf_item:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background:#222222;
}

.myprofile{
    font-weight: 28px;
}