{% extends "pages/base.html" %}

{%block title %} Dịch vụ {% endblock %}

{% load static %}

{% block sidebar %}
<div>
    <div class="link-webs">
        <i><u>Dịch vụ</u></i> >
    </div>
    <div class="border_right container-fluid">
        <div class="menu-nav">
            <a class="nav-link item-menu" href="#">Thiết kế phòng <i class="mui_ten right"></i></a>
            <a class="nav-link item-menu" href="#">Đặt theo yêu cầu <i class="mui_ten right"></i></a>
            <a class="nav-link item-menu" href="#">Vận chuyển <i class="mui_ten right"></i></a>
            <a class="nav-link item-menu" href="#">Bảo hành <i class="mui_ten right"></i></a>
        </div>
    </div>
</div>         
{% endblock %}


{% block content %}
<div class="container-fluid">

</div>
{% endblock %}