{% extends "pages/base.html" %}

{%block title %} Dịch vụ {% endblock %}

{% load static %}

{% block sidebar %}
<div>
    <div class="link-webs">
        <i><u>Dịch vụ></u></i>
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="bs-slidebar menu-nav">
                <a class="nav-link item-menu" href="#">Thiết kế phòng</a>
                <a class="nav-link item-menu" href="#">Đặt hàng theo yêu cầu</a>
                <a class="nav-link item-menu" href="#">Vận chuyển</a>
                <a class="nav-link item-menu" href="#">Bảo hành</a>
            </div>
        </div>
    </div>
</div>         
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="under-menu col-sm-7"></div>
        </div>
    </div>
</div>


{% endblock %}